<div class="row">
  <div class="col-sm-12">
    <img alt="" src="">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3>Recipe Name</h3>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="btn-group">
      <button
        aria-expanded="false"
        class="btn btn-primary dropdown-toggle"
        data-bs-toggle="dropdown" type="button">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">To Shopping List</a></li>
        <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
        <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12"><h4>Description</h4></div>
</div>
<div class="row">
  <div class="col-sm-12"><h4>Ingredients</h4></div>
</div>
