<div class="row">
  <div class="col-sm-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label class="form-label" for="name">Name</label>
          <input class="form-control" id="name" type="text">
          <div class="form-text" id="nameHelp">Enter the ingredient 👆</div>
        </div>
        <div class="col-sm-2 form-group">
          <label class="form-label" for="amount">Amount</label>
          <input class="form-control" id="amount" type="number">
          <div class="form-text" id="amountHelp">Enter the no of items 🧺</div>
        </div>
        <div class="col-sm-7 my-3 d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-success col-3" type="submit">Add</button>
          <button class="btn btn-danger col-3" type="button">Delete</button>
          <button class="btn btn-warning col-3" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
